.events-settings-page-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.events-settings-page-title h2{
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: 43.95px;
    line-height: 100%;
    letter-spacing: 0.25px;
    color: #1F1E29;
    margin-right: 20px;
}

.settings-placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: #3D464D;
}

.events-settings-page-main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.events-settings-page-options{
    padding: 50px;
    background: #FFFFFF;
    border-radius: 20px;
    width: 800px;
}

.events-settings-page-all_settings{
    background: #FFFFFF;
    border-radius: 20px;
    width: 385px;
    padding: 50px;
}

.events-settings-page-all_settings-profile{
    display: flex;
    margin-bottom: 20px;
}

.events-settings-page-all_settings-profile img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.events-settings-page-all_settings-profile p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: #040D14;
}

.events-settings-page-all_settings-events{
    display: flex;
}

.events-settings-page-all_settings-events img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.events-settings-page-all_settings-events p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: #6667AB;
}

.events-settings-page-settings-roles{
    margin-bottom: 30px;
}

.events-settings-page-settings-skills{
    margin-bottom: 30px;
}

.events-settings-page-settings-skills-about-title{
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: 28.13px;
    line-height: 120%;
    color: #000000;
    margin-bottom: 8px;
}

.events-settings-page-settings-skills-about-text{
    width: 600px;
    padding: 11.5px 16px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 115px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.25px;
    color: #040D14;
}

.events-settings-page-save-btn{
    width: 250px;
    height: 50px;
    background: #6667AB;
    border-radius: 20px;
    padding: 15px 74.5px;
    margin-right: 20px;
}

.events-settings-page-save-btn:hover{
    background: #7071C9;
    cursor: pointer;
}

.events-settings-page-save-btn p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
}

.settings-events-save-bnt-disabled{
    background: #AAACF4;
}

.settings-events-save-bnt-disabled:hover{
    background: #AAACF4;
    cursor: default;
}

.events-settings-page-save{
    display: flex;
    align-items: center;
}

.events-settings-page-save img{
    width: 32px;
    height: 32px;
}